.zigzag{
    margin-bottom: -10px;
    clip-path: polygon(0% 0%, 0% 100%,
        10px calc(100% - 10px), 20px 100%,
        30px calc(100% - 10px), 40px 100%,
        50px calc(100% - 10px), 60px 100%,
        70px calc(100% - 10px), 80px 100%,
        90px calc(100% - 10px), 100px 100%,
        110px calc(100% - 10px), 120px 100%,
        130px calc(100% - 10px), 140px 100%,
        150px calc(100% - 10px), 160px 100%,
        170px calc(100% - 10px), 180px 100%,
        190px calc(100% - 10px), 200px 100%,
        210px calc(100% - 10px), 220px 100%,
        230px calc(100% - 10px), 240px 100%,
        250px calc(100% - 10px), 260px 100%,
        270px calc(100% - 10px), 280px 100%,
        290px calc(100% - 10px), 300px 100%,
        310px calc(100% - 10px), 320px 100%,
        330px calc(100% - 10px), 340px 100%,
        350px calc(100% - 10px), 360px 100%,
        370px calc(100% - 10px), 380px 100%,
        390px calc(100% - 10px), 400px 100%,
        410px calc(100% - 10px), 420px 100%,
        430px calc(100% - 10px), 440px 100%,
        450px calc(100% - 10px), 460px 100%,
        470px calc(100% - 10px), 480px 100%,
        490px calc(100% - 10px), 500px 100%,
        510px calc(100% - 10px), 520px 100%,
        530px calc(100% - 10px), 540px 100%,
        550px calc(100% - 10px), 560px 100%,
        570px calc(100% - 10px), 580px 100%,
        590px calc(100% - 10px), 600px 100%,
        610px calc(100% - 10px), 620px 100%,
        630px calc(100% - 10px), 640px 100%,
        650px calc(100% - 10px), 660px 100%,
        670px calc(100% - 10px), 680px 100%,
        690px calc(100% - 10px), 700px 100%,
        710px calc(100% - 10px), 720px 100%,
        730px calc(100% - 10px), 740px 100%,
        750px calc(100% - 10px), 760px 100%,
        770px calc(100% - 10px), 780px 100%,
        790px calc(100% - 10px), 800px 100%,
        810px calc(100% - 10px), 820px 100%,
        830px calc(100% - 10px), 840px 100%,
        850px calc(100% - 10px), 860px 100%,
        870px calc(100% - 10px), 880px 100%,
        890px calc(100% - 10px), 900px 100%,
        910px calc(100% - 10px), 920px 100%,
        930px calc(100% - 10px), 940px 100%,
        950px calc(100% - 10px), 960px 100%,
        970px calc(100% - 10px), 980px 100%,
        990px calc(100% - 10px), 1000px 100%,
        1010px calc(100% - 10px), 1020px 100%,
        1030px calc(100% - 10px), 1040px 100%,
        1050px calc(100% - 10px), 1060px 100%,
        1070px calc(100% - 10px), 1080px 100%,
        1090px calc(100% - 10px), 1100px 100%,
        1110px calc(100% - 10px), 1120px 100%,
        1130px calc(100% - 10px), 1140px 100%,
        1150px calc(100% - 10px), 1160px 100%,
        1170px calc(100% - 10px), 1180px 100%,
        1190px calc(100% - 10px), 1200px 100%,
        1210px calc(100% - 10px), 1220px 100%,
        1230px calc(100% - 10px), 1240px 100%,
        1250px calc(100% - 10px), 1260px 100%,
        1270px calc(100% - 10px), 1280px 100%,
        1290px calc(100% - 10px), 1300px 100%,
        1310px calc(100% - 10px), 1320px 100%,
        1330px calc(100% - 10px), 1340px 100%,
        1350px calc(100% - 10px), 1360px 100%,
        1370px calc(100% - 10px), 1380px 100%,
        1390px calc(100% - 10px), 1400px 100%,
        1410px calc(100% - 10px), 1420px 100%,
        1430px calc(100% - 10px), 1440px 100%,
        1450px calc(100% - 10px), 1460px 100%,
        1470px calc(100% - 10px), 1480px 100%,
        1490px calc(100% - 10px), 1500px 100%,
        1510px calc(100% - 10px), 1520px 100%,
        1530px calc(100% - 10px), 1540px 100%,
        1550px calc(100% - 10px), 1560px 100%,
        1570px calc(100% - 10px), 1580px 100%,
        1590px calc(100% - 10px), 1600px 100%,
        1610px calc(100% - 10px), 1620px 100%,
        1630px calc(100% - 10px), 1640px 100%,
        1650px calc(100% - 10px), 1660px 100%,
        1670px calc(100% - 10px), 1680px 100%,
        1690px calc(100% - 10px), 1700px 100%,
        1710px calc(100% - 10px), 1720px 100%,
        1730px calc(100% - 10px), 1740px 100%,
        1750px calc(100% - 10px), 1760px 100%,
        1770px calc(100% - 10px), 1780px 100%,
        1790px calc(100% - 10px), 1800px 100%,
        1810px calc(100% - 10px), 1820px 100%,
        1830px calc(100% - 10px), 1840px 100%,
        1850px calc(100% - 10px), 1860px 100%,
        1870px calc(100% - 10px), 1880px 100%,
        1890px calc(100% - 10px), 1900px 100%,
        1910px calc(100% - 10px), 1920px 100%,
        1930px calc(100% - 10px), 1940px 100%,
        1950px calc(100% - 10px), 1960px 100%,
        1970px calc(100% - 10px), 1980px 100%,
        1990px calc(100% - 10px), 2000px 100%,
        2010px calc(100% - 10px), 2020px 100%,
        2030px calc(100% - 10px), 2040px 100%,
        2050px calc(100% - 10px), 2060px 100%,
        100% 100%, 100% 0%) !important;
}

.arrow{
    margin-bottom: -40px;
    clip-path: polygon(100% calc(100% - 40px), 50% 100%, 0 calc(100% - 40px), 0 0, 100% 0);
}

.arrow_big{
    margin-bottom: -80px;
    clip-path: polygon(100% calc(100% - 80px), 50% 100%, 0 calc(100% - 80px), 0 0, 100% 0);
}